{% extends "admin-base.html" %} 
{% block title %} Admin Authors {% endblock %} 

{% block content %}

<div class="creat_book">


<form>

    <button class="btn btn-danger btn-xs" type="hidden" name="csrf_token" formmethod="post" action = "{{ url_for('admin.create_author') }}">Add Author</button>
</form>

</div>

{% for author in authors %}
<div class="container-boxes">

    <form action="" method="POST" enctype="multipart/form-data">

        <img class="picture-area" src="{{ url_for('admin.send_author', filename=author.image) }}">

        <div class="author-text-area">
            <td>Name: {{ author.author_name }} </td>
            </br>
            <td>Birth place: {{ author.place }} </td>
            </br>
            <td>DOB: {{author.date_of_birth}}</td>
        </div>

    </form>

</div>

{% endfor %}
{% endblock %}